# Example configuration file for polld
# Copy this file to /etc/polld.yaml and adjust the values for your environment.

# Address and port of YANIC (as a list: [IPv6, Port])
yanic:
  host: '2001:bf7:381::3:1'
  port: 11001

# List of respondd topics to query
respondd_topics:
  - nodeinfo
  - statistics
  - neighbours
  - wireguard

# The node info source to use (to load list of IP addresses of VPN-connected nodes).
# Must contain the configuration for one (and only one) of etcd, netbox or jsonfile.
node_list:
  # Connection config for the etcd client is done in /etc/etcd-client.json, see etcd.py
  etcd:
    # Prefix for node configuration entries in etcd, as implemented by etcdconfigweb.
    # Each node should have one associated key that ends on '/address6', whose value is the IPv6 address of the node, under which it can be reached.
    # Discovered nodeinfo will be stored in currently hardcoded '/node/' prefix.
    prefix: '/config/'

  jsonfile:
    # Expects a JSON file with a 'nodes' key that is a list of objects, where each object has an 'address6' string item.
    path: '/var/run/polld.json'

# InfluxDB configuration
influx:
  enabled: false # true to enable InfluxDB
  connection_type: 'socket' # "socket" or "http"
  endpoint: '/run/influxdb/influxdb.sock' # For "http" e.g. "http://localhost:8086"
  database: 'ffbs' # Name of the database
  username: '' # Optional, only for http
  password: '' # Optional, only for http
