# Example configuration file for polld
# Copy this file to /etc/polld.yaml and adjust the values for your environment.

# Address and port of YANIC (as a list: [IPv6, Port])
yanic:
  host: '2001:bf7:381::3:1'
  port: 11001

# List of respondd topics to query
respondd_topics:
  - nodeinfo
  - statistics
  - neighbours
  - wireguard

# The node info source to use (to load list of IP addresses of VPN-connected nodes).
# Must contain the configuration for one (and only one) of etcd, netbox or jsonfile.
node_list:
  # Connection config for the etcd client is done in /etc/etcd-client.json, see etcd.py
  etcd:
    # Prefix for node configuration entries in etcd, as implemented by etcdconfigweb.
    # Each node should have one associated key that ends on '/address6', whose value is the IPv6 address of the node, under which it can be reached.
    # Discovered nodeinfo will be stored in currently hardcoded '/node/' prefix.
    prefix: '/config/'

  netbox:
    # A mapping of filters for Netbox to find the allocated node prefixes.
    # If you're using wgkex, should match the "netbox_additional_data" configuration setting.
    # E.g. {role: NodePrefixes} or {cf_my_custom_field: 'Some Value', tag: [ node-prefix, another-tag ]}
    # See https://demo.netbox.dev/api/schema/swagger-ui/#/ipam/ipam_prefixes_list and https://netboxlabs.com/docs/netbox/reference/filtering/ for filtering syntax
    filter:
      tag: # AND combined
        - 123 # ID of a tag
        - node-prefix # another tag uniquely identified through its slug

    # URL for your NetBox instance, without the "/api" path
    url: http://localhost:8000
    api_key: SECRET

  jsonfile:
    # Expects a JSON file with a 'nodes' key that is a list of objects, where each object has an 'address6' string item.
    path: '/var/run/polld.json'

# InfluxDB configuration
influx:
  enabled: false # true to enable InfluxDB
  connection_type: 'socket' # "socket" or "http"
  endpoint: '/run/influxdb/influxdb.sock' # For "http" e.g. "http://localhost:8086"
  database: 'ffbs' # Name of the database
  username: '' # Optional, only for http
  password: '' # Optional, only for http

# Logging configuration
logging:
  formatters:
    standard:
      format: '%(asctime)s,%(msecs)d %(levelname)-8s [%(filename)s:%(lineno)d] %(message)s'
  handlers:
    console:
      class: logging.StreamHandler
      formatter: standard
  root:
    handlers:
      - console
    level: DEBUG
  version: 1
